<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>To participate in the conference, please fill out the form</title>

    <!-- Bootstrap core CSS -->
    <!---->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">

    <link href="css/map.css" rel="stylesheet">
    <link href="css/share.css" rel="stylesheet">


</head>

<body>

<div id ="map"></div>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="share-btns">
                    <a class="facebook" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{link}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                    <a class="twitter" rel="nofollow" href="http://twitter.com/share?&url={{link}}&text={{text}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                </div>
            </div>
            <div class="col">
                <form class="needs-validation" action="/All" method="get">
                    <button class="btn btn-primary" type="submit">ALL MEMBERS</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfc_huPCqyPtBpWdWd3O0T2FRNFOF8EMc&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/googlemaps.js"></script>
</body>

</html>
